.signup-container {
    display: grid;
    place-items: center;

    .bg-sections {
        position: absolute;
        width: 100%;
        height: calc(100% + 250px);
        display: flex;
        pointer-events: none;
        z-index: -1;

        .line {
            width: calc(100% / 6);
            height: 100%;
            border-right: 3px solid rgba(rgb(160, 199, 160), 0.1);
        }
    }

    .signup {
        width: 600px;
        margin: 30px 20px;
        box-shadow: 5px 5px 10px rgba(rgb(7, 94, 7), 0.1),
            0 0 3px rgba(rgb(7, 94, 7), 0.1);
        padding: 48px;
        border-radius: 15px;
        background: white;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 650px) {
            width: 90vw;
            padding: 30px;
        }

        .or {
            color: gray;
            margin: auto;
            margin-top: 20px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 200px;
                right: 30px;
                top: 50%;
                height: 1px;
                background: gray;
            }

            &::before {
                content: '';
                position: absolute;
                width: 200px;
                height: 1px;
                left: 30px;
                top: 50%;
                background: gray;
            }
        }

        .google {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        h1 {
            text-align: center;
            margin-bottom: 40px;
            color: var(--color-accent);
            font-weight: 700;
        }

        input {
            width: 100%;
            margin-bottom: 40px;
            padding: 15px 20px;
            border-radius: 10px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            outline: none;
            font-size: 14px;
        }

        .redirect {
            margin: 20px auto;
            margin-top: 0;
            font-size: 18px;

            span {
                color: var(--color-accent);
            }

            a {
                font-weight: 800;
            }
        }

        .btn {
            margin: 0 auto;
            width: max-content;
        }
    }
}