.create-post {
    background: var(--bg-light-cream);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        bottom: calc(-1 * var(--nav-height));
        height: var(--nav-height);
        background: var(--bg-light-cream);
        z-index: -1;
    }

    .form-container {
        width: 500px;
        display: flex;
        flex-direction: column;

        h3 {
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: 600;
        }

        .title {
            width: 100%;
            margin-top: 10px;
            margin-bottom: 20px;

            input {
                width: 100%;
                padding: 15px 20px;
                border-radius: 10px;
                border: 1px solid rgba(0, 0, 0, 0.2);
                outline: none;
                font-size: 14px;
            }
        }

        .tags {
            width: 100%;
            margin-top: 15px;

            textarea {
                min-width: 100%;
                margin-bottom: 40px;
                padding: 15px 20px;
                border-radius: 10px;
                border: 1px solid rgba(0, 0, 0, 0.2);
                outline: none;
                font-size: 14px;
                height: 200px;
                font-family: 'Urbanist';
                margin-bottom: 20px;
            }
        }

        .btn {
            margin: 30px auto;
            margin-bottom: 0px;

        }
    }
}