.event-cols {
  display: grid;
  grid-template-columns: 320px auto;
  width: 100%;

  .left {
    display: flex;
    flex-direction: column;

    > img {
      width: 100%;
      max-height: 320px;
      border-radius: 16px;
      object-fit: cover;
      object-position: center;
    }

    .event-info {
      padding: 20px 24px;
      display: flex;
      flex-direction: column;
      color: var(--color-text-title);
      width: 100%;
      border-radius: 8px;
      background: #FFF;
      margin-top: 16px;
      border: solid 1px var(--color-border);
      transition: all 0.25s;

      span {
        display: flex;
        font-weight: 600;
        font-size: 18px;
        color: var(--color-accent);

        &:not(:last-child) {
          margin-bottom: 8px;
        }

        i {
          flex-shrink: 0;
        }

        span {
          flex-grow: 0;
          margin-left: 16px;
          font-weight: 500;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.75);
        }
      }
    }

    .posted-by {
      padding: 12px;
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: 600;
      color: var(--color-text-title);
      width: 100%;
      border-radius: 8px;
      background: rgb(232, 250, 230);
      margin-top: 32px;
      border: solid 1px var(--color-border);
      transition: all 0.25s;

      &:hover {
        background: rgba(0, 0, 0, 0.05);
      }

      &:active {
        background: rgba(0, 0, 0, 0.1);
      }

      > img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        margin-right: 16px;
      }

      div {
        display: flex;
        flex-direction: column;
      }
      
      span {
        font-size: 16px;
        color: var(--color-accent);
        margin-top: 4px;
        display: flex;
        align-items: center;

        span {
          font-size: 14px;
          font-weight: 600;
          margin-left: 8px;
          margin-top: -2px;
        }
      }
    }
  }

  .right {
    margin-left: 64px;
    display: flex;
    flex-direction: column;

    .event-type {
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 8px;

      span {
        margin-left: 4px;
      }
    }

    > h1 {
      margin-bottom: 32px;
    }

    .event-content {

    }
  }
}