.post {
  width: 320px;
  border: solid 1px var(--color-border);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.5s ease;

  .img-holder {
    width: 100%;
    height: 220px;
    position: relative;

    >img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .title {
    margin-top: -64px;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    z-index: 1;
    position: relative;
    padding: 0px 32px;
    display: flex;
    flex-direction: column;

    span {
      font-size: 14px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.742);
    }
  }

  .content {
    padding: 0px 32px 24px 32px;
    position: relative;
    z-index: 1;
    margin-top: 32px;
  }

  .fader {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transition: all 0.5s ease;
    height: 96px;
    background: linear-gradient(0deg, rgb(255, 255, 255), rgba(255, 255, 255, 0));
  }

  &:hover,
  &:focus {
    background: rgb(231, 243, 230);
    transform: scale(1.05);

    .fader {
      height: 144px;
      background: linear-gradient(0deg, rgb(231, 243, 230), rgba(231, 243, 230, 0));
    }
  }
}