.create-event {
    background: var(--bg-light-cream);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        bottom: calc(-1 * var(--nav-height));
        height: var(--nav-height);
        background: var(--bg-light-cream);
        z-index: -1;
    }

    .main-form {
        width: 500px;
        display: flex;
        flex-direction: column;

        .title {
            width: 100%;
            margin-top: 10px;

            input {
                width: 100%;
                padding: 15px 20px;
                border-radius: 10px;
                border: 1px solid rgba(0, 0, 0, 0.2);
                outline: none;
                font-size: 14px;
            }
        }

        .desc {
            width: 100%;
            margin-top: 15px;

            textarea {
                min-width: 100%;
                margin-bottom: 20px;
                padding: 15px 20px;
                border-radius: 10px;
                border: 1px solid rgba(0, 0, 0, 0.2);
                outline: none;
                font-size: 14px;
                height: 200px;
                font-family: 'Urbanist';
            }
        }

        .searchbar-sec {
            height: 42px;
            background: #FFF;
            border: solid 1px rgba(12, 16, 29, 0.2);
            border-radius: 8px;
            display: flex;
            cursor: pointer;
            margin: 20px 0;

            span,
            div {
                height: 100%;
                min-width: 42px;
                font-size: 18px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--color-accent);
                border-right: solid 1px rgba(12, 16, 29, 0.194);
                cursor: pointer;

            }

            div {
                font-size: 14px;
                font-weight: 600;
                padding: 0px 16px;
                flex-shrink: 0;
                cursor: pointer;

            }

            input,
            select {
                background: transparent;
                border-radius: 0px 8px 8px 0px;
                border: none;
                outline: none;
                height: 100%;
                width: 100%;
                font-size: 14px;
                font-family: inherit;
                font-weight: 500;
                cursor: pointer;

                padding: 0px 16px;
            }
        }

        .upload-img {
            margin-top: 20px;
            width: 100%;
        }

        h3 {
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: 600;
        }

        .date-time {
            display: flex;
            justify-content: space-between;
            position: relative;

            .calendar {
                position: absolute;
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 0px 0px 10px rgba(rgb(7, 93, 7), 0.1);
                top: 0;
                transform: translateY(calc(-100% - 40px)) scale(0.9);
                transform-origin: left;
                opacity: 0;
                transition: 0.5s ease;
                pointer-events: none;

                &.open {
                    top: 80px;
                    opacity: 1;
                    pointer-events: all;
                }
            }

            .time-picker {
                position: absolute;
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 0px 0px 10px rgba(rgb(7, 93, 7), 0.1);
                top: 0;
                transform: translateY(calc(-100% - 20px)) scale(0.8);
                transform-origin: left;
                opacity: 0;
                transition: 0.5s ease;
                pointer-events: none;
                left: calc(200px + 100px);
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 5px 5px 10px rgba(rgb(108, 209, 108), 0.1);

                &.open {
                    top: 82px;
                    opacity: 1;
                    pointer-events: all;
                }
            }

            .date {
                width: 200px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: white;
                border-radius: 10px;
                padding: 10px 15px;
                cursor: pointer;
                border: 1px solid rgba(0, 0, 0, 0.2);

                .date-info {
                    font-weight: 600;
                }
            }

            .time {
                width: 200px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: white;
                border-radius: 10px;
                padding: 10px 15px;
                cursor: pointer;
                border: 1px solid rgba(0, 0, 0, 0.2);

                .icon {
                    svg {
                        font-size: 20px;
                    }
                }

                .time-info {
                    font-weight: 600;
                }
            }
        }

        .location-input {
            width: 100%;
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 20px;
            border-radius: 10px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            background: white;

            input {
                width: calc(100% - 40px);
                height: 100%;
                outline: none;
                font-size: 14px;
                border: none;
                outline: none;
                margin-left: 20px;
                font-size: 16px;
            }

            span {
                svg {
                    font-size: 20px;
                }
            }
        }

        .map {
            position: relative;
            width: 100%;
            height: 400px;
            margin-top: 20px;
        }


        .reminder-title {
            margin-top: 15px;
        }

        .reminder {
            display: flex;
            padding: 10px 15px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 3px 5px 10px rgba(rgb(7, 93, 7), 0.1);
            cursor: pointer;

            .icon {
                margin-right: 20px;

                svg {
                    font-size: 20px;
                }
            }
        }

        .btn {
            margin: 30px auto;
            margin-bottom: 0px;
            width: max-content;
        }
    }


}