* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding-top: var(--nav-height);

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(7, 17, 23);
    border-radius: 50px;
  }

  &::-webkit-scrollbar-track {
    background: rgb(233, 231, 231);
    border-radius: 50px;
  }
}

a {
  color: unset;
  text-decoration: none;
}

.container {
  padding: 0px 100px;
}