@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding-top: var(--nav-height);
  font-family: 'Urbanist', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  transition: all 0.25s;
  background: rgb(0, 0, 0, 0.2);
  border-radius: 50px;

  &:hover {
    background: rgb(0, 0, 0, 0.4)
  }
}

::-webkit-scrollbar-track {
  background: rgb(233, 231, 231);
  border-radius: 50px;
}

a {
  color: unset;
  text-decoration: none;
}

.container {
  padding: 0px 100px;
}