.navbar {
    position: fixed;
    background: var(--bg-nav);
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-height);
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: var(--z-nav);
    // box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.1);

    .logo {
        font-family: var(--font-luxury);
        font-size: 30px;
        color: var(--bg-mid-green);
        font-weight: 800;
    }

    .links {
        display: flex;

        a {
            margin-right: 20px;
        }
    }
}