.navbar {
    position: fixed;
    background: var(--bg-nav);
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-height);
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: var(--z-nav);
    transition: all 0.25s;
    border-bottom: solid 2px transparent;

    &.scrolled {
        background: #FFF;
        border-bottom: solid 2px var(--color-accent);
    }

    .logo {
        font-size: 24px;
        font-weight: 800;
        color: #000;

        span {
            color: var(--color-accent);
        }
    }

    .links {
        display: flex;
        font-weight: 600;
        color: var(--color-accent);
        align-items: center;
        font-size: 16px;

        .link {
            padding: 0px 32px;
            transition: all 0.5s;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 64px;
            border-radius: 8px;

            &::after {
                content: ' ';
                display: flex;
                width: 32px;
                height: 0px;
                background: var(--color-accent);
                transition: all 0.5s;
                opacity: 0;
                transform: scaleX(0);
            }

            &:hover::after {
                margin-top: 8px;
                height: 2px;
                opacity: 1;
                transform: scaleX(1);
            }

            &:hover {
                background: #5a84151a;
            }
        }

        .link.big {
            background: var(--color-accent);
            margin-left: 16px;
            padding: 12px 32px;
            border-radius: 48px;
            color: #FFF;
            box-shadow: 0px 2px 8px #5a841561;
            height: auto;

            &:hover {
                box-shadow: 0px 4px 16px #5a8415cb;
                background: #669b12;
            }

            &:active {
                box-shadow: 0px 2px 10px #5a8415cb;
                background: var(--color-accent);
            }

            &::after {
                content: ' ';
                display: flex;
                width: 0px;
                height: 0px;
            }

            &:hover::after {
                margin-top: 0px;
                width: 0px;
                height: 0px;
            }
        }
    }
}

.nav-user {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    margin-left: 16px;
    padding: 8px;
    border-radius: 64px;
    transition: all 0.25s;
    cursor: pointer;
    padding-right: 16px;

    img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-right: 8px;
    }

    &:hover {
        background: rgba(0, 0, 0, 0.05);
    }

    &:active {
        background: rgba(0, 0, 0, 0.1);
    }
}